sphinx_rtd_theme
tensorflow
torch
scikit-learn
numpy==1.20.3
pandas
scipy
matplotlib
wget
astropy
numba
matplotlib
tqdm
patsy
statsmodels
dill
autoapi==2.0.1
-e git+https://github.com/ECP-CANDLE/candle_lib.git@master#egg=candle
